@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
*{
    font-family: 'Poppins';
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 35px;
    color: rgb(255, 253, 253);
    font-family: 'Poppins';
    font-style: Medium;
    margin-left: 2%;
    color: #032086;
    margin-top: 1%;
}
.nav-links ul{
    display:flex;
}
.nav-links ul li{
    list-style:none;
}
.nav-links li a{
    font-size: larger;
    color: black;
    text-align: center;
}
.nav-links li span{
    padding:15px 33px;
    border-radius: 29px;

}
.nav-links li span:hover{
    background-color: #032086;
}
.nav-links li a:hover{
    color: aliceblue;
}

.title-pic{
    background-color:  #EAEDF8;
    height: 20vw;
    padding: 30px;
    padding-left: 100px;
    margin-bottom: 15%;
}
.blog-title{
    font-size:36px;
}
.blog-img{
    width: 45vw;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23vw;
}
.blog-img img{
    width: 100%;
    height: 100%;
    filter: brightness(43%);
}
.blog-img h1{
    font-size: 40px;
    text-align: center;
    position: absolute;
    color:#fff;
    z-index: 999;
}
.shareit{
    position: absolute;
    z-index: 999;
    margin-left: -15%;
    margin-top: 5%;
}
.bluecirc{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-top: 25%;
    background-color: #152968;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bluecirc img{
    display: block;
    margin: auto;
    width: 50%;
}
/*block-01*/
.blog1-content{
    margin: auto;
    width:63%;
}
.content-01{
    margin-top: 3%;
    margin-left: 4% ;
}
.heading{
    color: #484848;
}
/*block-02*/
.block-02{
    margin-top: 3%;
}
.content-02{
    margin-top: 3%;
    margin-left: 4%;
}
.block-021 , .block-022{
    margin-top:3%;
    margin-left:4%;
}

/*block-03*/
.block-03{
    margin-top: 4%;
}


/*common style*/
.num{
    color: #BEBEBE;
}
.big{
    font-size: 40px;
}
.heading-021,.heading-022{
    color: #484848;
}
.content-021,.content-022,.content-03{
    margin-top: 2%;
    margin-left: 10%;
}

@media (min-width:740px) and (max-width:1180px) {
    .blog-img{
        width: 50vw;
        height: 27vw;
        margin: auto;
        margin-top: 5%;
    }
    .title-pic{
        height: 27vw;
    }
    .blog-img h1{
        font-size: 27px;
    }
    
}

@media (min-width: 280px) and (max-width: 740px){
    .nav-links li span{
        padding:4px 14px;
        border-radius: 12px;
        font-size: 12px;
    }
    .logo{
        font-size: 21px;
    }
    .blog-img{
        width: 70vw;
        height: 40vw;
        margin: auto;
        margin-top: 5%;
    }
    .blog-title{
        font-size: 6vw;
    }
    .blog-img h1{
        font-size: 16px;
    }
    .title-pic{
        padding: 10px;
        height: 30vw;
    }
    .blog1-content{
        width: 68%;
        margin-top:30%;
    }
    .big{
        font-size: 26px;
    }
    .heading{
        font-size: 22px;
    }

    .heading-021,.heading-022{
        font-size: 15px;
    }
}
@media (min-width: 280px) and (max-width: 480px){
    .nav-links li span{
        padding:4px 10px;
    }
}