@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans HK', sans-serif;
  background: #fff;
}
.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #ffffff;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px;
  padding: 6% 6% 0% 6%;
  width: 280px;
  height: 158px;
}
.slider-card a{
  font-size: 0.8rem;
  display:block;
  margin-top: -2rem;
  text-align: right;
  padding: 0% 3% 3% 3%;
  color:#09B778;
}
.owl-nav .owl-prev {
  position: absolute;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  top: 90%;
  left: 45%;
  opacity: 1;
  font-size: 25px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  top:90%;
  right: 45%;
  opacity: 1;
  font-size: 25px !important;
  z-index: 1;
}
.slider .slider-card p{
  color:#9C9C9C;
  font-size: 0.8rem;
  margin-top: -5%;
}
@media (max-width:960px) {
  .owl-nav .owl-prev {
    width: 36px;
    height: 36px;
    font-size: 22px !important;
    left: 35%;
  }
  .owl-nav .owl-next{ 
    width: 36px;
    height: 36px;
    font-size: 22px !important;
    right: 35%;
  }
  
}