.first {
  background: white;
  height: auto;
}
.logo-title {
  color: black;
}
nav ul a {
  color: black;
}
.mobile-nav-icon {
  color: black;
}
.active {
  background-color: white;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaedf8;
}

.title h1 {
  font-size: 3rem;
  padding: 2rem;
  font-weight: 500;
}
.title img {
  width: 70%;
  height: auto;
  margin: 0 2rem 2rem 2rem;
  border-radius: 10%;
  -webkit-border-radius: 20px;
}

.blog-content {
  padding: 5% 12%;
}
.blog-content h1 {
  font-size: 2.2rem;
  font-weight: 500;
  margin: 2rem 0;
}
.blog-content h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
}
.h2-num {
  margin: 0 0.8rem;
}
.blog-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0.5rem 0;
  margin-left: 2rem;
}
.blog-content h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-left: 2.5rem;
}
.h3-num {
  margin: 0 0.8rem;
  color: rgb(137, 137, 137);
}
.h3-p {
  margin-left: 5rem !important;
}
.h3-p-ul {
  margin-left: 6rem !important;
  width: 80%;
}
.h3-p-ul li {
  margin-left: 1rem;
  font-size: 1.2rem;
}
.blog-content img {
  width: 50%;
  height: auto;
  margin: 2rem 0;
}
.blog-content-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 910px) and (min-width: 600px) {
  .title h1 {
    font-size: 2.2rem;
  }
  .blog-content h1 {
    font-size: 2rem;
  }
  .blog-content h2 {
    font-size: 1.6rem;
  }
  .blog-content p {
    font-size: 1.1rem;
  }
  .blog-content h3 {
    font-size: 1.4rem;
  }
  .h3-p-ul li {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 600px) {
  .title h1 {
    font-size: 2rem;
  }
  .blog-content
  {
    padding: 5% 5%;
  }
  .blog-content h1 {
    font-size: 1.8rem;
  }
  .blog-content h2 {
    font-size: 1.4rem;
  }
  .blog-content p {
    font-size: 1rem;
  }
  .blog-content h3 {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
  .h3-p-ul li {
    font-size: 1rem;
  }
  .h3-p{
    margin-left: 3.5rem !important;
  }
  .h3-p-ul
  {
    margin-left: 4.5rem !important;
    width: 70%;
  }
}
