.first
{
    background: white;
}
.logo-title
{
    color: black;
}
nav ul a
{
    color: black;
}
.mobile-nav-icon
{
    color: black;
}
.active
{
    background-color: white;
}
.header-content
{
    margin-top: 15vh;
    padding: 5% 12%;
    display: flex;
    /* space aroun   */
    justify-content: space-around;
}
.header-right img
{
    width: 80%;
    height: 90%;

}
.header-left h1
{
    color: black;
    font-size: 1.8rem;
}
.header-left span
{
    color: #09B778;
}
.header-left p
{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 10px;
}
.header-left button
{
    background-color: #09B778;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
}
.header-left button:hover
{
    background-color: #0A9C6B;
}
.header-left button a
{
    color: white;
    text-decoration: none;
}
.header-left
{
    width: 40%;
}
.header-right
{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: top;
    

}
.perks
{
    padding: 5% 12%;
    display: flex;
    justify-content: s;
}
.perks-right
{
    width: 40%;
}
.perks-left
{
    width: 50;
    display: flex;
    justify-content: left;
    align-items: top;
}
.perks-left img
{
    width: 75%;
    height: 90%;

}
.perks-right h3
{
    color: #09B778;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.perks-right h2
{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}
.perks-right li
{
    display: flex;
    padding: 8px 0;
}
.perks-right li ion-icon
{
    color: #09B778;
    font-size: 1.5rem;
    
    padding-right: 10px;
}
.chkmrk
{
    display: flex;
    justify-content: center;
    align-items: center;


}
.perks-right p
{
    color: black;
    font-size: 1rem;
    font-weight: 500;

}
.why-work
{
    padding: 5% 12%;
}
.why-work-content h3
{
    color: #09B778;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.why-work-content h2
{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}
.why-work-content span
{
    color: #535353;
}
.why-work-blocks
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.block
{
    width: 30%;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #6C6C6C;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.block-img ion-icon
{
    color: #09B778;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.block h3{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.block p
{
    color: #494949;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    width: 70%;
}
.stay
{
    padding: 5% 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.stay p
{
    padding-top: 7px;
    color: #494949;
}

.email
{
    margin: 30px 0;
    width: 60%;
}

.wrapboth
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    border: 1px solid #535353;
}
.wrapboth input
{
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #535353;
}
.submitbtn
{
    background-color: #09B778;
}
.wrapboth button
{
    background-color: #09B778;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
}
.wrapboth button:hover
{
    background-color: #0A9C6B;
    cursor: pointer;
}

@media screen and (max-width: 910px) and (min-width: 600px) {
    .header-content
    {
        margin-top: 0vh;
        display: flex;
        flex-direction: column-reverse;
    }
    .header-left
    {
        width: 100%;
    }
    .header-right
    {
        width: 100%;
        justify-content: center;
    }
    .header-right img
    {
        width: 60%;
        padding: 10px;
    }
    .header-left h1
    {
        font-size: 1.5rem;
        /* middle */
        text-align: center;
    }
    .header-left p
    {
        font-size: 0.9rem;
        padding-top: 5px;
        /* middle */
        text-align: center;
    }
    .headerbtn
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .perks
    {
        flex-direction: column;
    }
    .perks-left
    {
        width: 100%;
        justify-content: center;
        padding: 10px;
    }.perks-left img{
        width: 60%;
    }
    .perks-right
    {
        width: 100%;
        padding: 10px;
    }
    .perks-right h3
    {
        font-size: 0.9rem;
    }
    .perks-right h2
    {
        font-size: 1.3rem;
    }
    .block h3
    {
        font-size: 0.9rem;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .header-content
    {
        margin-top: 10vh;
        display: flex;
        flex-direction: column-reverse;
    }
    .header-left
    {
        width: 100%;
    }
    .header-right
    {
        width: 100%;
        justify-content: center;
    }
    .header-right img
    {
        width: 60%;
        padding: 10px;
    }
    .header-left h1
    {
        font-size: 1.3rem;
        /* middle */
        text-align: center;
    }
    .header-left p
    {
        font-size: 0.8rem;
        padding-top: 5px;
        /* middle */
        text-align: center;
    }
    .header-left button{
        font-size: 0.8rem;
    }
    .headerbtn
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .perks
    {
        flex-direction: column;
    }
    .perks-left
    {
        width: 100%;
        justify-content: center;
        padding: 10px;
    }.perks-left img{
        width: 60%;
    }
    .perks-right
    {
        width: 100%;
        padding: 10px;
    }
    .perks-right h3
    {
        font-size: 0.8rem;
    }
    .perks-right h2
    {
        font-size: 1.2rem;
        margin-top: 5px;
    }
    .block h3
    {
        font-size: 0.9rem;
        margin-bottom: 5px;
        text-align: center;
    }
    .perks-right p
    {
        font-size: 0.9rem;
    }
    .why-work-content h2
    {
        font-size: 1.2rem;
                margin-top: 5px;

    }
    .why-work-content h3
    {
        font-size: 0.8rem;
    }
    .why-work-blocks
    {
        flex-direction: column;
        align-items: center;
    }
    .block
    {
        width: 80%;
        padding: 10px;
        margin-bottom: 20px;
    }
    .stay p
    {
        text-align: center;
        font-size: 0.9rem;
    }
    .email
    {
        width: 90%;
    }
}