.first
{
    background: #071645;
}
.header-content
{
    padding: 5% 12%;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.header-content h1{
    color: white;
    font-size: 1.8rem;
}
.header-content span{
    color: #09B778;
}
.header-content p{
    color: white;
    font-size: 1.1rem;
    padding-top: 10px;
}
.contactus
{
    padding: 5% 12%;
}
.contactform
{
    padding: 5% 12% 0;
}
.contactus h3
{
    color: #09B778;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.contactus h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}
.contactform label
{
    font-size: 1rem;
    font-weight: 600;
}
.contactform input
{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.contactform textarea
{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.contactform button
{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #09B778;
    border-radius: 5px;
    background: #09B778;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.contactform button:hover
{
    background: white;
    color: #09B778;
    cursor: pointer;
}
@media screen and (max-width: 910px) and (min-width: 600px) {
    .header-content h1{
        font-size: 1.5rem;
    }
    .header-content p
    {
        font-size: 1rem;
    }
    .contactus h3
    {
        font-size: 0.9rem;
    }

    .contactform
    {
        padding: 5% 0 0;
    }
}
@media screen and (max-width: 600px) {
    .header-content h1{
        font-size: 1.3rem;
    }
    .header-content p
    {
        font-size: 0.9rem;
    }
    .contactus h3
    {
        font-size: 0.8rem;
    }
    .contactus h2
    {
        font-size: 1.3rem;
    }

    .contactform
    {
        padding: 5% 0 0;
    }
    .contactform button{
        font-size: 0.9rem;
    }
}