.first {
  background: #071645;
}
.header-content {
  padding: 5% 12%;
  text-align: center;
}
.header-content h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 22vh;
}
.tnc {
  padding: 5% 12%;
}
.tnc h3 {
  color: #09b778;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.tnc h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 10px;
}
.tnc p, li {
  font-size: 1rem;
  font-weight: 500;
}
.tnc ul {
  list-style: none;
  padding-left: 3%;
}

.tnc ul li::before {
  content: "\2022";
  color: #09b778;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -0;
}
@media screen and (max-width: 910px) and (min-width: 600px) {
  .header-content h2 {
    margin-top: 20vh;
    font-size: 1.5rem;
  }
  .tnc h3 {
    font-size: 0.8rem;
  }
  .tnc h2 {
    font-size: 1.1rem;
  }
  .tnc p, li {
    font-size: 0.9rem;
  }
}
.pcontent
{
    margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .header-content h2 {
    margin-top: 19vh;
    font-size: 1.4rem;
  }
  .tnc h3 {
    font-size: 0.8rem;
  }
  .tnc h2 {
    font-size: 1rem;
  }
  .tnc p, li {
    font-size: 0.8rem;
  }
}
