body {
    margin: 0;
    padding: 0;
    font-family: "Monserrat", sans-serif;
    background-color: black;
    color: white;
}
.overlay {
    display: flex;
    flex-direction: row;
    padding: 0;
    border: red solid;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#freedemo-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 55%;
    padding: 2rem;
}
#container {
    text-align: center;
}
#container h3 {
    text-align: center;
    text-transform: uppercase;

    font-size: 20px;

    margin: 0;
}
#container form {
    display: flex;
    flex-direction: column;
    /* border: red solid; */
    padding: 1.5rem 1rem;
}
#container input {
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(79, 79, 79, 1);
    color: white;
    font-size: 0.9rem;
}
#container input[type="submit"] {
    background-color: rgba(9, 183, 120, 1);
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
}
#social-media-links {
    display: flex;
    /* border: red solid; */
    justify-content: space-around;
    padding-left: 2rem;
}
#social-media-links img {
    width: 60%;
    margin: 0;
}
#freedemo-right {
    background-color: rgba(9, 183, 120, 1);
    width: 45%;
    padding: 2rem;
}
#img2 {
    width: 80%;
}
