body {
    margin: 0;
    padding: 0;
    font-family: "Monserrat", sans-serif;
    background-color: black;
    color: white;
}

#navbar {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    background-color: #051340;
    /* max-height: 50px; */
}

#title-logo img {
    width: 9rem;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.title-menu{
    overflow: hidden;
    font-family: Arial;

  }
  
  /* Links inside the navbar */
  .title-menu a {
    float: left;
    font-size: 1.1rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 1.5rem;
    /* border: #09b778  solid; */
    border-radius:5px ;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    border-radius: 5px;
/* border: #09b778 solid; */

  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 1.1rem;
    border: none;
    outline: none;
    color:white;
    padding: 14px 16px;
    background-color:#051340;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .title-menu a:hover, .dropdown:hover .dropbtn {
    background-color:#152968;


  }

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#051340;
    min-width: 130px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    font-size: 1rem;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 0.5rem;

  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color:#152968;
    /* margin-right:1.5rem; */
    width: 75%;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

#title-button {
    display: flex;
    align-items: center;
}

#title-button button {
    background-color: #09b778;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 0.95rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
#title-menu-phone {
    display: none;
}

#career-home {
    position: relative;
    font-family: "Monserrat", sans-serif;
    background-image: linear-gradient(
        to bottom right,
        rgba(21, 41, 104, 1) 50%,
        black 50%
    );
}

#career-home-top {
    display: flex;
    margin: 0;
    padding: 0;
    /* border: white solid; */
}

#career-home-left {
    padding: 0;
    margin-top: 5rem;
    margin-left: 21.5rem;
    z-index: 1;
}
.heading1 {
    font-size: 2.5rem;
    margin: 0;
}
.heading2 {
    font-size: 3rem;
    font-weight: bold;
    padding-left: 3rem;
    margin: 0;
}
.heading3 {
    font-size:rem;
    margin: auto 0;
}

#career-home-left button {
    background-color: rgba(21, 41, 104, 1);
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    padding: 0.8rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 3rem;
    margin-top: 1rem;
    cursor: pointer;
}

#career-home-right img {
    width: 60%;
    z-index: 1;
}
#career-home-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 20px;
}
#career-home-bottom h3 {
    font-size: 2.2rem;
    z-index: 1;
    margin: 0;
}
#career-home-bottom span {
    font-size: 1.1rem;
    margin-top: 0.3rem;
    z-index: 1;
}

#section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
}
#box {
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(32, 34, 35, 1);
    border-radius: 5px;
    box-shadow: 1rem solid black;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;

    height: 280px;
    width: 240px;
}

#top-image {
    display: flex;
    justify-content: space-between;
}
#box-top-left {
    width: 30px;
    height: 30px;
}
#box-top-right {
    width: 100px;
}
#box-top-right3 {
    width: 90px;
}

#box h4 {
    color: #09b778;
}
#box span {
    text-align: center;
}

#section2 {
    background-color: rgba(21, 41, 104, 1);
    border-radius: 5px;
    margin-left: 20.8%;
    margin-right:20.8%;
    margin-top: 1rem;
}

#section2-title {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    align-items: center;
}
#section2-title h5 {
    color: #09b778;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
#section2-title span {
    font-size: 1rem;
    margin: 0;
    margin-left: 1rem;
}
#section2-content {
    padding: 2rem 0;
}
#row1 {
    display: flex;
    flex-direction: row;
}
#row2 {
    display: flex;
    flex-direction: row;
}
.points {
    display: flex;
    width: 50%; 
    margin: 10px ;
}
.points img {
    padding:0 1rem;
    width: 70px;;
}
.points p {
    font-size: 1rem;
    padding-right: 5px;

    
}
#section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 4rem;
}
#section3-title {
    text-align: center;
    padding: 1rem;
}
#section3-title h3 {
    font-size: 2rem;
    margin: 0;
    padding-bottom: 0.5rem;
}
#section3-title span {
    font-size: 1rem;
}
#section3 form input {
    background-color: rgba(14, 13, 13, 1);
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1rem;
}
.form-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
#img1 {
    width: 70px;
    padding-right: 1.5rem;
}
#img2 {
    width: 60px;
    padding-right: 1.5rem;
}
.form-entry button {
    background-color: #09b778;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

@media screen and (max-width: 1240px) {
    #career-home-left{
        margin-left:10rem ;
        margin-top: 3rem;
    }
    .heading1 {
        font-size: 2rem;
    }
    .heading2 {
        font-size: 2.5rem;
    }
    .heading3 {
        font-size: 1rem;
    }
    #career-home-left button {
        padding: 0.5rem 1.5rem;
    }
    #career-home-right img {
        width: 70%;
    }
    #career-home-bottom h3 {
        font-size: 2rem;
    }
    #career-home-bottom span {
        font-size: 1.1rem;
    }
    #section2-title h5 {
        font-size: 1.3rem;
    }
    #section2-title span {
        font-size: 1rem;
    }
    .points img {
        width: 65px;
        height: 65px;
    }
    .points span {
        font-size: 1rem;
    }
    #box{
        margin: 1rem;
    }
}
@media screen and (max-width:900px){
    .title-menu a,  .dropdown .dropbtn{
        padding-left:8px ;
        padding-right: 8px;
        font-size: 0.9rem;
    }
    #title-button button {
        font-size: 0.9rem;
        padding: 0.4rem 0.9rem;
        margin-left: 0;
        
    }
    .dropdown-content{
        min-width:inherit;
        /* border: #09B778 solid; */

    }
    .dropdown-content a:hover{
        width: 83%;
    }

}
@media screen and (max-width: 850px) {
    #career-home-left{
        margin-left:7rem ;
    }
    #career-home-right img {
        width: 250px;
        height: auto;
        margin-right: 3rem;
    }
    .points {
        width: 100%;
    }
    #row1 {
        flex-direction: column;
    }
    #row2 {
        flex-direction: column;
    }
    #section3-title h3 {
        font-size: 1.8rem;
    }

    #section3-title span {
        font-size: 1rem;
    }
    #img1 {
        width: 60px;
        padding-right: 1.2rem;
    }
    #img2 {
        width: 50px;
    }
    #section3 form input {
        font-size: 1rem;
    }
    .form-entry button {
        padding: 0.5rem 3rem;
        font-size: 1rem;
        margin-left: 0;
    }
    #box h4{
        padding-bottom: 0;
        margin-bottom: 0.5rem;
    }
    #box span{
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 580px) {
    #career-home-top {
        
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #career-home-left{
        width: 50%;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top:1rem;
    }
    .heading1 {
        font-size: 2rem;
    }
    .heading2 {
        font-size: 2.2rem;
    }
    .heading3 {
        font-size: 1rem;
    }
    
    #section2-content {
        padding-left: 10px;
        padding-right: 20px;
    }
    #career-home-right img {
        margin-right: 0;
        width: 250px;
        height: auto;
    }
    #career-home-left button {
        padding: 0.6rem 1rem;
        font-size: 16px;
    }
    #section1 {
        flex-direction: column;
    }
}

#footer {
    background-color: #000000; 
    padding: 3rem 8rem 3rem 6rem;
}

#footer-heading {
    color: #09B778;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    /* bottom border - px, color */
    border-bottom: 2px solid #09B778;
}

#footer-heading h2 {
    margin-bottom: 0.5rem;
}

#footer-main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

#f1 {
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 2rem 0;
    
}

#f1 img {
    width: 65%;
}

#f1 h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: white;
    text-align: center;
}

#f2,
#f3 {
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #f2 {
    margin-left: 8rem;
} */

#f2 a,
#f3 a {
    text-decoration: none;
    color: #09B778;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

#f2 a:hover,
#f3 a:hover {
    color: white;
}

#f4 {
    color: #09B778;
}
#footer-contact{
width: 160px;
}
#footer-contact p{
    font-size: 1rem;
    color: #09B778;
    margin-bottom: 1rem;
}
#footer-contact p a {
    text-decoration: none;
    color: #09B778;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

#footer-contact p a:hover {
    color: white;
}

#footer-social {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    gap: 2rem; 
}

#footer-social a {
    text-decoration: none;
    color: #09B778;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

#footer-social a:hover {
    color: white;
}

@media screen and (max-width: 767px) {
    .title-menu {
        display: none;
    }

    #title-button {
        display: none;
    }

    #title-menu-phone {
        display: flex;
        align-items: center;
    }
    #navbar {
        padding: 0.6rem;
    }

    #menu img {
        width: 2rem;
    }

    #close img {
        width: 2rem;
    }
    #close {
        /* everything of this div should be on the right */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #title-menu-phone-links {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }

    #title-menu-phone-links a {
        margin-bottom: 0.6rem;
        color: white;
        font-size: 0.9rem;
        text-decoration: none;
    }

    #title-button-phone {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }

    #title-button-phone button {
        margin-bottom: 0.6rem;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        /* change button color */
        color: white;
        background-color: #09B778;
        border: none;
        border-radius: 0.5rem;
    }

    #title-button-phone button:hover {
        cursor: pointer;
    }

    #title-button-phone a {
        color: white;
        font-size: 0.9rem;
        text-decoration: none;
    }
    #box{
        height:auto;
    }
    #footer {
        padding: 3rem 4rem;
    }

    #footer-main {
        flex-direction: column;
    }

    #f1 {
        width: 100%;
        padding: 0.5rem;
    }

    #f1 img {
        width: 15%;
    }

    #f1 h3 {
        font-size: 1rem;
    }

    #f2,
    #f3 {
        width: 100%;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #f2 a,
    #f3 a {
        font-size: 0.8rem;
        width: 22%;
    }

    #footer-contact p a {
        font-size: 1rem;
    }
}


@media screen and (max-width: 479px) {
    #footer {
        padding: 3rem 2rem;
    }

    #footer-main {
        flex-direction: column;
    }

    #f1 {
        padding: 0.5rem;
        flex-direction: row;
        width: auto;
        margin-bottom: 1rem;
    }

    #f1 img {
        width: 15%;
    }

    #f1 h3 {
        font-size: 0.9rem;
        margin-left: 1rem;
    }

    #f2,
    #f3 {
        width: auto;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #f2 a,
    #f3 a {
        font-size: 0.9rem;
        width: 22%;
    }

    #footer-contact p a {
        font-size: 1rem;
    }

    #footer-heading h2 {
        font-size: 1.5rem;
    }

    #f4 p {
        font-size: 0.9rem;
    }
}

#footer-last {
    text-align: center;
    padding: 0.3rem 6rem;
    background-color: #09B778;
}

#footer-last p {
    width: 100%; 
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

@media screen and (max-width: 767px) {
    #footer-last {
        padding: 0.01rem 4rem;
    }

    #footer-last p {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 479px) {
    #footer-last {
        padding: 0.01rem 2rem;
    }

    #footer-last p {
        font-size: 0.8rem;
    }
}

.hch {
    background-image: url(../files/hero-home-bg.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.pbg {
    background-image: url(../files/Group\ 9623.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

@media screen and (max-width: 767px) {
    .title-menu {
        display: none;
    }

    #title-button {
        display: none;
    }

    #title-menu-phone {
        display: flex;
        align-items: center;
    }
    #navbar {
        padding: 0.6rem;
    }

    #menu img {
        width: 2rem;
    }

    #close img {
        width: 2rem;
    }


    #close {
        /* everything of this div should be on the right */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #title-menu-phone-links {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }

    #title-menu-phone-links a {
        margin-bottom: 0.6rem;
        color: white;
        font-size: 0.9rem;
        text-decoration: none;
    }

    #title-button-phone {
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
    }

    #title-button-phone button {
        margin-bottom: 0.6rem;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        /* change button color */
        color: white;
        background-color: #09B778;
        border: none;
        border-radius: 0.5rem;
    }

    #title-button-phone button:hover {
        cursor: pointer;
    }

    #title-button-phone a {
        color: white;
        font-size: 0.9rem;
        text-decoration: none;
    }

    #hero-content-home-left {
        padding-left: 4rem;

    }

    #hero-content-home-left h1 {
        font-size: 2.2rem;

    }

    #hero-content-home-left button {
        padding: 0.8rem 1.3rem;
        font-size: 0.9rem;
    }

    #hero-content-home-right {
        padding-right: 4rem;
    }

}

@media screen and (max-width: 479px) {

    

    #hero-content-home {
        flex-direction: column-reverse;
    }

    #hero-content-home-left {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        align-items: center;

    }

    #hero-content-home-left h1 {
        font-size: 2rem;
    }

    #hero-content-home-left button {
        margin-top: 1rem;
        padding: 0.8rem 1.3rem;
        font-size: 1rem;
    }

    #hero-content-home-right {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        align-items: center;
    }

}
